@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="trackTruck" ng-controller="appController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSI Logistics</title>
</head>
<body>
    @Styles.Render("~/Content/css/all")
    @Scripts.Render("~/js/lib")
    @Scripts.Render("~/js/util")
    @Scripts.Render("~/js/app")

    <div class="container main-container">
        <div>
            <navigation username="'@User.Identity.Name'"></navigation>
            <global-message></global-message>
            <ng-view></ng-view>
        </div>
    </div>

    @Html.Partial("_Footer")
</body>
</html>