@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Truck: @ViewBag.Title</title>
    @Styles.Render("~/css")
</head>
<body>
    @Scripts.Render("~/js/lib")
    @Scripts.Render("~/js/util")

    <div class="container main-container">
        @RenderBody()
    </div>

    <footer class="container small">
        <hr />
        <span class="small">&copy; @DateTime.Now.Year - SSI Group of Companies</span>
        <span class="small pull-right">Version @typeof(MvcApplication).Assembly.GetName().Version</span>
    </footer>

</body>
</html>